<div
  class="container-fluid vh-100 d-flex align-items-center justify-content-center"
>
  <div
    class="shadow-lg p-0 bg-body-tertiary rounded w-75 h-75 position-relative"
  >
    <!-- Botão de alternância de tema -->
    <div
      class="d-flex justify-content-start"
      style="position: absolute; top: 10px; left: 67rem"
    >
      <button (click)="toggleDarkMode()" class="btn btn-dark">
        {{ isDarkMode() ? "☀️" : "🌙" }}
      </button>
    </div>

    <div class="row h-100">
      <!-- Lado esquerdo (Imagem) -->
      <div
        class="col-md-6 p-0 bg-primary rounded-end-5 rounded-start-3 d-flex align-items-center justify-content-center"
      >
        <img
          src="./../../../../../../assets/img/sign-In/img-sign-in.svg"
          alt="Imagem do login"
          class="img-fluid w-75"
        />
      </div>

      <!-- Lado direito (Formulário) -->
      <div
        class="col-md-6 d-flex flex-column align-items-center justify-content-center text-center"
      >
        <div class="animate__animated animate__fadeIn d-flex gap-2">
          <i class="bi bi-heart-pulse text-primary fs-2"></i>
          <h2 class="mb-3 text-primary fw-bold">Saúde Fácil</h2>
        </div>
        <p class="text-muted">Acesse sua conta para continuar</p>

        <form
          class="w-75"
          (ngSubmit)="_signInNgSubmit()"
          [formGroup]="_signInForm"
        >
          <!-- Campo de Email -->
          <div class="form-floating mb-1">
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Digite seu email"
              required
              formControlName="email"
            />
            <label for="email"><i class="bi bi-envelope"></i> Email</label>
          </div>

          <div class="form-text text-muted mb-1">
            Nós nunca compartilhamos seu email com ninguém.
          </div>

          <!-- Campo de Senha -->
          <div class="form-floating mb-3 position-relative">
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Digite sua senha"
              required
              formControlName="password"
            />
            <label for="password"><i class="bi bi-lock"></i> Senha</label>

            <!-- Ícone de olho para mostrar/ocultar senha -->
            <span
              class="position-absolute top-50 end-0 translate-middle-y pe-3"
              style="cursor: pointer"
              (click)="togglePasswordVisibility()"
            >
              <i
                [class]="passwordVisible ? 'bi bi-eye-slash' : 'bi bi-eye'"
              ></i>
            </span>
          </div>

          <div class="text-end mb-3">
            <a href="#" class="text-decoration-none">Esqueceu a senha?</a>
          </div>

          <button
            type="submit"
            class="btn btn-primary w-100"
            [disabled]="_signInForm.invalid"
          >
            Entrar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
