<div class="container-fluid vh-100">
  <div class="row h-100">
    <!-- Imagem (100% da altura e largura da coluna) -->
    <div class="col-md-6 p-0">
      <img
        src="./../../../../../../assets/img/sign-In/img-sign-in.png"
        alt="Imagem do login"
        class="img-fluid w-100 h-100 object-fit-cover"
      />
    </div>

    <!-- Formulário -->
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <form class="w-75">
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="email"
            required
          />
          <small class="form-text text-muted">
            Nós nunca compartilhamos seu email com ninguém.
          </small>
          <label for="email">Email</label>
        </div>

        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="password">
          <label for="password">Senha</label>
        </div>


        <button type="submit" class="btn btn-primary w-100">Entrar</button>
      </form>
    </div>
  </div>
</div>
